{% extends 'base.html' %}
{% load static %}

{% block title %}Users{% endblock %}
{% block content %}
<h1>User List</h1>
<form method="get" class="mb-4">
    <div class="row g-2">
        <div class="col-md-6">
            <input
                type="text"
                name="q_username"
                value="{{ request.GET.q_username }}"
                placeholder="Search by username..."
                class="form-control">
        </div>
        <div class="col-md-6">
            <input
                type="text"
                name="profile_id"
                value="{{ request.GET.profile_id }}"
                placeholder="Search by profile id"
                class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Date Joined</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{% url 'core:profile_detail' user.id %}">{{ user.username }}</a></td>
            <td>{{ user.date_joined }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No users found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}